.sphx-glr-thumbcontainer {
    min-height: 150px !important;
    margin: 5px !important;
}
.sphx-glr-thumbcontainer .figure {
    width: 100px !important;
}
.sphx-glr-thumbcontainer img {
    max-height: 150px !important;
    width: 150px !important;
}
.sphx-glr-thumbcontainer a.internal {
    padding: 100px 5px 0 !important;
}

.caption-text {
    text-align: center;
}

.terminal-window{
    margin: 0px 20px 0px 0px;
    background: #343131;
    color: white;
    font-family: courier;
    font-size:12px;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    float: left;
    width: 40%;
    height: 150px;
}

.terminal-text{
    position: absolute;
    height:100%;
    width:90%;
}
